* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #0b1d26 url(../img/background.png) no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
  color: rgba(231, 231, 231, 0.815);
}

.wrap {
  margin: 0 80px;
}

.wrap-two {
  margin-left: 200px;
  margin-right: 200px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.logo a {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: auto;
  
}

.menu a {
  margin-right: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
  transition: color 0.3s linear;
}

.menu a:hover {
  color: #fff;
}

.account {
  align-items: center;
  display: flex;
  font-family: "Gilroy", sans-serif;
}

.icon {
  padding-right: 8px;
}

.icon img {
  width: 24px;
}

.account a {
  color: #e7e7e7d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s linear;
}

.account a:hover {
  color: #fff;
}

/* main */
main {
  display: grid;
  grid-template: auto auto auto auto / 1fr;
  row-gap: 200px;
}

/* hero */
.hero {
  height: 310px;
  display: grid;
  grid-template: 1fr / 24px auto 77px;
  justify-content: space-between;
  column-gap: 50px;
  padding-top: 198px;
}

.social {
  display: grid;
  grid-template: 77px 24px 24px / 1fr;
  row-gap: 24px;
  justify-content: space-between;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  align-items: flex-start;
  height: 173px;
  width: 24px;
  margin: auto 0;
}

.social div {
  writing-mode: vertical-lr;
  font-size: 18px;
  padding-left: 3px;
}

.social a img {
  max-width: 24px;
}

.slider-content {
  display: flex;
  flex-direction: column;
}

.subtitle {
  display: flex;
  margin-bottom: 32px;
}

.line {
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin: auto 32px auto 0;
}

.subtitle div {
  font-size: 18px;
  color: #fbd784;
  font-weight: 700;
  letter-spacing: 6px;
  font-family: "Gilroy", sans-serif;
  text-transform: uppercase;
}

h1 {
  text-transform: capitalize;
  font-size: 88px;
  font-weight: 500;
  max-width: 880px;
  line-height: 100px;
  margin: 0 0 32px 0;
}

.prompt {
  display: flex;
  align-items: center;
}

.prompt div {
  font-size: 18px;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
  padding-right: 16px;
}

.prompt img {
  width: 16px;
}

.slider-steps {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 240px;
  margin: auto 0;
}

.step {
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
}

.step div {
  align-self: center;
}

.position {
  background-color: #fff;
  opacity: 0.5;
  width: 3px;
  height: 60px;
  margin-left: 0px;
}

/* section */
.padding {
  padding-top: 800px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
  max-height: 720px;
}

.section-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.reverse .section-text {
  padding-left: 150px;
  margin-left: 40px;
}

.section-number {
  position: absolute;
  font-size: 240px;
  /*  */
  opacity: 0.15;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  left: 0;
  top: -130px;
}

.started {
  display: flex;
  align-items: center;
}

.subline {
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin-right: 24px;
}

.started div {
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  color: #fbd784;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h2 {
  font-size: 64px;
  max-width: 555px;
  margin: 27px 0;
}

.section-text p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 27px;
  max-width: 632px;
  font-family: "Gilroy", sans-serif;
}

.more {
  display: flex;
  align-items: center;
}

.more a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  color: #fbd784;
  margin-right: 16px;
}

.more img {
  max-width: 24px;
  max-height: 16px;
}

section > img {
  max-width: 566px;
  max-height: 720px;
  margin-left: auto;
}

main section:nth-child(even) .section-text {
  padding-left: 150px;
}

main section:nth-child(even) img {
  margin: 0 auto 0 0;
}

/* footer */
footer {
  margin: 200px auto 120px auto; 
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  height: 280px;
}

.first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}

.mntn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mntn div:first-child {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.mntn div:last-child {
  font-family: "Gilroy", sans-serif;
  line-height: 32px;
}

.copyright {
  /* 6 значений */
  color: #e7e7e7d0;
  font-family: "Gilroy", sans-serif;
}

.copyright a {
  transition: color 0.3s linear;
}

.copyright a:hover {
  color: #fff;
}

.blog-and-mntn {
  width: 476px;
  display: flex;
  justify-content: space-between;
}

.blog-and-mntn div {
  color: #fbd784;
  font-size: 24px;
}

.more-blog {
  margin-left: 40px;
}

.more-blog {
  margin-top: 24px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-mntn {
  margin-top: 24px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-blog a,
.more-mntn a {
  transition: color 0.3s linear;
}

.more-blog a:hover,
.more-mntn a:hover {
  color: #fff;
}